html,
body {
    font-size: 66.25%;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --back-color:#000000;
  --text-color:#ffffff;
  --btn-color: #1ffe77;

}

.app{
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.quill{
    height: 57vh;
}
.ce-paragraph {
    font-size: 1.5rem;
}
.ce-block__content{
    max-width: 90%!important;
    margin: auto!important;
}
@media screen and ( max-width:700px) {
    html{
        font-size: 57.25%
    }
  }
  @media screen and ( max-width:500px) {
    html{
        font-size: 45.25%
    }
  }