.navbar{
    height: 9vh;
    width: 97%;
    margin: 0px auto;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}
.navbar-brand,.navbar-link{
    font-size: 2rem;
    font-weight: 700;
}