.dasboard-nav{
    height: 10vh;
}
.dasboard-mainBox{
    height: 90vh;
    display: flex;
}
.dasboard-mainBox--sidebar{
    flex: .2;
    border-right: 2px solid #000000;
}
.dasboard-mainBox--content{
    flex: .8;
    overflow-y: auto;
}