.addProduct{
    width: 100%;
    color: #000;
}
.addProduct form{
    width: 90%;
    margin: 0px auto;
    
}
.addProduct form input{
    font-size: 2rem;
    font-weight: 500;
}
.addProduct form label{
    font-size: 2rem;
    font-weight: 500;
}
.uploadImg{
    min-height: 50vh;
    width: 97%;
    margin: 0px auto;
    background-color: rgba(221 ,223 ,219,1);
    border-radius: 17px;
}
.uploadImg-btn{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer!important;
    margin: 0% auto;
    transition: all .3s ease ;
}
.uploadImg-btn:hover{
    background-color: rgba(0, 0, 0,.3);
    border-radius: 13px;

}
.uploadImg-btn input{
    opacity: 0;
    position: absolute;
}

/* imgpreviewer css */
.img-preview{
    display: flex;
    width: 93%;
    margin: 3% auto;
    align-items: center;
    justify-content: space-between;
}